.print {
  display: flex;
  align-items: center;
  justify-content: center;
}
.print__btn {
  width: 100%;
  height: 30px;
  cursor: pointer;
  border: 1px solid transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

.print:hover .print__btn {
  border: 1px solid var(--white);
}